NEXT_PUBLIC_APP_URL=http://localhost:3000
SESSION_SECRET=
HITPAY_OAUTH_CLIENT_ID=
HITPAY_OAUTH_CLIENT_SECRET=
HITPAY_OAUTH_AUTHORIZE_URL=https://dashboard.sandbox.hit-pay.com/oauth/authorize
HITPAY_OAUTH_TOKEN_URL=https://api.sandbox.hit-pay.com/v1/open/oauth/token
HITPAY_API_BASE=https://api.sandbox.hit-pay.com/v1
HITPAY_WEBHOOK_SALT=
DATABASE_URL=./byutee.db
ADMIN_EMAIL=admin@byutee.com
ADMIN_PASSWORD=
